<div class="navbar-default sidebar" role="navigation">

    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">

            <li>

                <a href="/shows/"><i class="fa fa-edit fa-fw"></i>Shows</a>

            </li>

            <li>

                <a href="/empleados/"><i class="fa fa-edit fa-fw"></i>Empleados</a>

            </li>

            <li>

                <a href="/equipos/"><i class="fa fa-edit fa-fw"></i>Equipos</a>

            </li>


        </ul>

    </div>

    <!-- /.sidebar-collapse -->

</div>