{% load static %}

<!-- jQuery -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>



<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<!-- Metis Menu Plugin JavaScript -->

<script src="{% static 'web/js/metisMenu.js' %}"></script>



<!-- Morris Charts JavaScript -->

<script src="{% static 'web/js/raphael.js' %}"></script>

<script src="{% static 'web/js/morris.js' %}"></script>

<script src="{% static 'web/js/morris-data.js' %}"></script>



<!-- DataTables JavaScript -->

<script src="{% static 'web/js/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'web/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'web/js/dataTables.responsive.js' %}"></script>





<!-- Custom Theme JavaScript -->

<script src="{% static 'web/js/sb-admin-2.js' %}"></script>



<!-- SCRIPTS para el DATEPICKER -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>



<script src='{% static "web/js/django_ajax.js" %}'></script>